Node Red/flows.json
[{"id":"57b700d6.6adbb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fb648830.dc8c28","type":"serial in","z":"57b700d6.6adbb","name":"DidrikSensorKit","serial":"c3b663af.2dd2f","x":180,"y":180,"wires":[["32e91268.f3547e"]]},{"id":"32e91268.f3547e","type":"function","z":"57b700d6.6adbb","name":"Parse","func":"var data = msg.payload.split(\"\\t\")\n\nif (data.length < 3) {\n    return null;\n}\n\n// Parse values\nvar timestamp = Math.floor(Date.now() / 1000);\nvar scale = parseInt(data[0], 10);\nvar moisture = parseFloat(data[1], 10);\nvar lux = parseFloat(data[2], 10);\nvar humidity = parseFloat(data[3], 10);\nvar temp = parseFloat(data[4], 10);\nvar tempF = temp*1.8+32.0\n\n\n// Return parsed msg\nreturn {\n    payload: {\n        timestamp: timestamp,\n        scale: scale,\n        moisture: moisture,\n        lux: lux,\n        humidity: humidity,\n        temp: temp,\n        tempF: tempF\n    \n    }\n}","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["36ff0515.d9f3da","be1ed8ec.6757d8","3d7091fd.2177be"]]},{"id":"36ff0515.d9f3da","type":"debug","z":"57b700d6.6adbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":160,"wires":[]},{"id":"3d7091fd.2177be","type":"file","z":"57b700d6.6adbb","name":"Logging","filename":"/Users/didriketholm/Desktop/sensor-data.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":590,"y":60,"wires":[[]]},{"id":"103a2967.c2dbb7","type":"ui_chart","z":"57b700d6.6adbb","name":"ScaleChart","group":"4f4556fb.612368","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":240,"wires":[[]]},{"id":"be1ed8ec.6757d8","type":"function","z":"57b700d6.6adbb","name":"GetScaleChartData","func":"return {\n    payload: msg.payload.scale,\n    timestamp: msg.payload.timestamp*1000,\n}","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["103a2967.c2dbb7"]]},{"id":"c3b663af.2dd2f","type":"serial-port","z":"","serialport":"/dev/tty.usbmodem141201","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4f4556fb.612368","type":"ui_group","z":"","name":"Readings","tab":"5799890d.7176c8","disp":true,"width":"6","collapse":false},{"id":"5799890d.7176c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]